<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Landing url</th>
      <th>Redirect url</th>
    </tr>
    </thead>
    <tbody>
    <% @configurations.each do |config| %>
        <tr>
          <td><%= config.id %></td>
          <td><%= config.landing_url %></td>
          <td><%= config.redirect_url %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <% if @configuration.errors.any? %>
      <div class="row">
        <ul>
          <% @configuration.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="span9">
    <%= form_for @configuration, :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |c| %>
        <div class="control-group">
          <fieldset>
            <%= c.text_field :redirect_url, :placeholder => 'Enter redirect url' %>
            <%= c.submit :class => 'btn btn-primary' %>
          </fieldset>
        </div>
    <% end %>
  </div>
</div>