<!DOCTYPE html>
<html>
<head>
  <title>Ruby TDS</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <% stylesheet_link_tag "bootstrap", :media => "screen" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Hello world!</h1>
<%= yield %>

</body>
</html>
